In [35]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [29]:
train=pd.read_csv('C:/Users/anand/Desktop/shreyansh sir/ML725/Assignment1/train.csv')

In [30]:
test=pd.read_csv('C:/Users/anand/Desktop/shreyansh sir/ML725/Assignment1/test.csv')

In [31]:
train.head()

,instance (id),date,season,hour,holiday,weekday,working day,weather situation,temperature,atemperature,humidity,wind speed,count
0,0,2011-09-30,4,5,0,Friday,1,1,0.52,0.5000,0.83,0.1940,26
1,1,2011-06-03,2,11,0,Friday,1,1,0.64,0.6212,0.31,0.3284,192
2,2,2012-03-23,2,10,0,Friday,1,2,0.56,0.5303,0.88,0.1045,275
3,3,2012-12-30,1,18,0,Sunday,0,2,0.24,0.2121,3.00,0.2985,125
4,4,2012-02-07,1,15,0,Tuesday,1,1,0.44,0.4394,0.38,0.1940,147

In [32]:
test.head()

,instance (id),date,season,hour,holiday,weekday,working day,weather situation,temperature,atemperature,humidity,wind speed
0,0,2012-05-30,2,18,0,Wednesday,1,1,0.74,0.6667,0.48,0.1642
1,1,2011-06-30,3,3,0,Thursday,1,1,0.60,0.6061,0.60,0.1642
2,2,2011-12-22,1,8,0,Thursday,1,2,0.36,0.3788,0.87,3.0000
3,3,2011-11-13,4,19,0,Sunday,0,1,0.50,0.4848,0.29,0.3582
4,4,2012-01-05,1,7,0,Thursday,1,2,0.20,0.2273,0.69,0.0896

In [8]:
test.shape

(3514, 12)

In [36]:
train['date'] = pd.to_datetime(train['date'])    
train['date_delta'] = (train['date'] - train['date'].min())  / np.timedelta64(1,'D')

In [39]:
train=pd.get_dummies(train,prefix=['country'], drop_first=True)

In [40]:
test['date'] = pd.to_datetime(test['date'])    
test['date_delta'] = (test['date'] - test['date'].min())  / np.timedelta64(1,'D')

In [41]:
test=pd.get_dummies(test,prefix=['country'], drop_first=True)

In [60]:
def baseline_model():
    # create model
    model = Sequential()
#     model.add(Dense(17, input_dim=17, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, input_dim=17, kernel_initializer='normal'))
    # Compile model
    opt = SGD(lr=0.1)
    model.compile(loss='mean_squared_error', optimizer=opt)
    return model

In [42]:
train=train.drop(['date'], axis=1)

In [43]:
test=test.drop(['date'], axis=1)

In [44]:
train.shape

(13865, 18)

In [59]:
from keras.optimizers import SGD

In [46]:
dataset=train.values
X = dataset[:,0:17]
Y = dataset[:,17]

In [61]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)
# evaluate model with standardized dataset
estimator = KerasRegressor(build_fn=baseline_model, epochs=100, batch_size=1, verbose=0)

In [62]:
kfold = KFold(n_splits=2, random_state=seed)

In [63]:
results = cross_val_score(estimator, X, Y, cv=kfold)

In [64]:
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: nan (nan) MSE